.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 96px;
}

.nftContainer {
  width: 20%;
  margin-bottom: 8px;
  overflow: hidden;
  border-radius: 8px;
  backface-visibility: hidden;
  outline: 1px solid rgba(255, 255, 255, 0.1);
  transform: translate3d(0px, 0px, 0px);
  display: flex;
  flex-direction: column;
  padding: 8px;
  max-height: 382px;
  transition: all 0.25s ease-in-out;
}
.xs {
  max-width: 600px;
}

.sm {
  max-width: 900px;
}

.md {
  max-width: 1200px;
}

.lg {
  max-width: 1200px;
}

.xl {
  max-width: 1536px;
}
