.nftGridContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
  width: 100%;
}

.activeTabContent {
  display: flex;
  flex-wrap: wrap;
  gap: 1%; /* Adjust the gap as needed */
  width: 100%;
}

/* Add the following style to ensure 5 NFTs per line */
.activeTabContent .nftContainer {
  width: calc(20% - 1%); /* Adjust the width and gap to ensure 5 elements per line */
  margin-bottom: 1%;
}

.nftContainer {
  width: calc(20% - 16px);
  margin: 8px;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  backface-visibility: hidden;
  outline: 1px solid rgba(255, 255, 255, 0.1);
  transform: translate3d(0px, 0px, 0px);
  display: flex;
  flex-direction: column;
  padding: 8px;
  max-height: 382px;
  transition: all 0.25s ease-in-out;
}

.nftContainer:hover {
  cursor: pointer;
  transform: translate3d(0px, -4px, 0px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.lastInRow {
  margin-right: 0;
}
 
.clearfix {
  clear: both;
}

.title {
  padding: 8px;
  font-size: 3rem;
  margin-bottom: 8px;
}

@media (min-width: 1200px) {
}

@media (min-width: 760px) and (max-width: 1200px) {
  .nftContainer {
    width: calc(22% - 16px);
  }
}

@media (min-width: 600px) and (max-width: 760px) {
  .nftContainer {
    width: calc(29% - 16px);
  }
}

/* Less than 600 */
@media (max-width: 600px) {
  .nftContainer {
    width: calc(45% - 16px);
  }
}
